.Grid {
  margin: 0.3em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.3em;
  grid-auto-rows: auto;
}

@media (min-width: 480px) {
  .Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 720px) {
  .Grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .Grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1300px) {
  .Grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.Grid .wrapper {
  position: relative;
}

.Grid .remove-button {
  background-color: #EE3344;
  border: 0;
  border-radius: 50%;
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  top: 0em;
  right: 0em;
  font-size: 0em;
  transition: font-size 0.3s ease-out;
  z-index: 10;
}

.Grid .remove-button .icon {
  fill: #FFFFFF;
  height: 1em;
  width: 1em;
  margin: 0 auto;
}

.Grid.removing .remove-button {
  font-size: 1em;
}

