.NotesWidget {
  background-color: #FFFFFF;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.3em;
  grid-template-areas:
    "title title"
    "notes notes";
}

.NotesWidget .title {
  font-size: 1.3em;
  grid-area: title;
}

.NotesWidget .notes {
  grid-area: notes;
  resize: vertical;
  min-height: 5em;
  outline: none;
  border: none;
  margin: 0.2em;
}
