.TextPart input {
  font-size: 1.3em;
  border: 0;
  outline: none;
  border-bottom: 0.1em solid #DDDDDD;
  transition: border-bottom 0.3s ease-out;
  margin: 0.2em;
}

.TextPart input:focus {
  font-size: 1.3em;
  border: 0;
  outline: none;
  border-bottom: 0.1em solid #484868;
}

.TextPart textarea {
  resize: vertical;
  min-height: 5em;
  outline: none;
  border: none;
  margin: 0.2em;
}
